<%- include('../partials/header.ejs') %>
    <div class="container-list">
        <div class="title-wrapper">
            <a href="/users/upload">
                <h2>email</h2>
            </a>
            <h2>logout</h2>
        </div>
        <h1>BREADS (Browse, Read, Edit, Add, Delete, Sort)</h1>
        <div class="container-form">
            <!-- ini fitur search -->
            <form action="/users" method="get" class="add-container">
                <div class="form-list">
                    <div class="inline">
                        <label for="name">title</label>
                        <div class="container-input">
                            <input type="text" class="add-box" name="title" placeholder="insert your title"
                                value="<%= query.title %>" />
                        </div>
                    </div>

                    <div class="inline">
                        <label for="deadline">deadline</label>
                        <div class="container-input-birthdate">
                            <input type="date" class="add-box" name='startdate' value="<%= query.startdate %>" />
                            <div class="sd">
                                <p> s.d </p>
                            </div>
                            <input type="date" class="add-box" name='enddate' value="<%= query.enddate %>" />
                        </div>
                    </div>

                    <div class="container-married">
                        <label for="complete">complete</label>
                        <%if(query.complete=='1' ){ %>
                            <div class="inline">
                                <select name="married" id="married" placeholder="-select complete-">
                                    <option value="" selected>Yes</option>
                                    <option value="">Not</option>
                                </select>
                            </div>
                            <% } else if (query.complete=='0' ){ %>
                                <div class="inline">
                                    <select name="married" id="married" placeholder="-select complete-">
                                        <option value="1">Yes</option>
                                        <option value="0" selected>Not Yet</option>
                                    </select>
                                </div>
                                <% } else {%>
                                    <div class="inline">
                                        <select name="married" id="married" placeholder="-select complete-">
                                            <option value="1">Yes</option>
                                            <option value="0">Not Yet</option>
                                        </select>
                                    </div>
                                    <% } %>
                    </div>

                    <div class="container-operation">
                        <label for="operation">operation </label>
                        <% if(query.type_search=='OR' ) { %>
                            <div class="operation-input">
                                <div class="input-radio">
                                    <input type="radio" id="OR" name="type_search" value="OR" checked= />OR
                                    <input type="radio" id="AND" name="type_search" value="AND" />AND
                                </div>
                            </div>

                            <% }else if(query.type_search=='AND' ) { %>
                                <div class="operation-input" style="display: inline-block;">
                                    <div class="input-radio">
                                        <input type="radio" id="OR" name="type_search" value="OR" />OR
                                        <input type="radio" id="AND" name="type_search" value="AND" checked>AND
                                    </div>
                                </div>

                                <% }else { %>
                                    <div class="operation-input" style="display: inline-block;">
                                        <div class="input-radio">
                                            <input type="radio" id="OR" name="type_search" value="OR" />OR
                                            <input type="radio" id="AND" name="type_search" value="AND" />AND
                                        </div>
                                    </div>
                                    <% } %>
                    </div>
                    <!-- trakhir submit mahh -->
                    <div class="button-add">
                        <button type="submit" class="btn btn-info"><i
                                class="fa-solid fa-magnifying-glass"></i></i></button>&nbsp;
                        <!-- class="add-submit"> -->
                        <a class="btn btn-warning" href="/users"><i class="fa-solid fa-arrows-rotate"></i></a>
                        <!-- add-cance -->
                    </div>
                </div>
            </form>

            <!-- search SELESAI -->
            <!-- ini table -->
            <div class="table-list">
                <table>
                    <thead>
                        <tr>
                            <th class="id">Id</th>
                            <th class="title">Title</th>
                            <th class="deadline">Deadline</th>
                            <th class="complete">Complete</th>
                            <th class="action">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach((todos, index)=> { %>
                            <tr>
                                <td>
                                    <%= index + offset + 1 %>
                                </td>
                                <td>
                                    <%= todos.title %>
                                </td>
                                <td>
                                    <%= moment(todos.deadline).format('MMMM Do YYYY, h:mm:ss a');%>
                                </td>
                                <td>
                                    <%= todos.complete ? 'Yes' : 'No' %>
                                </td>
                                <td><a class="add-list" href="/users/edit/<%= todos.id %>"><i class="fa-solid fa-pen" style="color: #ffffff;"></i></a>&nbsp;
                                    <a class="btn btn-danger" href="/delete/<%= todos.id %>"
                                        onclick="return confirmation('<%= todos.title %>')"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="container-button">
                <a href="/users/add" class="btn btn-primary"><i class="fa-solid fa-plus"
                        style="color: #ffffff;"></i></a>
                <!-- add-list -->
                <div class="pagination">
                    <% if(page !=1) { %>
                        <a href="?page=<%= page - 1%>">&laquo;</a>
                        <% } %>
                            <% for(let i=1; i <=pages; i++){%>
                                <a class="pagination<%= (page == i) ? ' active' : '' %>" href="/?page=<%= i %>">
                                    <%= i %>
                                </a>
                                <% } %>
                                    <% if(page !=pages) { %>
                                        <a href="?page=<%= Number(page) + 1%>">&raquo;</a>
                                        <% } %>
                </div>

            </div>
        </div>

        <%- include('../partials/footer.ejs') %>