<%- include('../partials/header.ejs') %>
    <div class="container-list">
        <div class="title-wrapper">
            <div class="profil">
                <a style="width: 20%;" href="/users/upload/<%= user.userid %>"">
                <img src=" <%=user.avatar? `/images/${user.avatar}` : `/images/default-avatar.jpg` %>" width="70"
                    height="70"
                    alt="Not Source" class="rounded-circle" style="margin-left: 0px;" >
                </a>
                <h2 class="h2-email">
                    <%= user.email %>
                </h2>
            </div>
            <div class="a-logout">
                <a href="/logout" class="btn btn-secondary"><i class="fa-solid fa-right-from-bracket"
                        style="color: #ffffff;"></i>Sign Out</a>
            </div>
        </div>

        <h1 class="h1-title">BREADS (Browse, Read, Edit, Add, Delete, Sort)</h1>
        <div class="container-form">
            <!-- ini fitur search -->
            <form action="/users" method="get" class="add-container">
                <div class="form-list">
                    <div class="inline">
                        <label for="name">title</label>
                        <div class="container-input">
                            <input type="text" class="add-box" name="title" placeholder="insert your title"
                                value="<%= query.title %>" />
                        </div>
                    </div>

                    <div class="inline">
                        <label for="deadline">Deadline</label>
                        <div class="container-input-birthdate">
                            <input type="date" class="add-box" name='startdate' value="<%= query.startdate %>" />
                            <div class="sd">
                                <p> s.d </p>
                            </div>
                            <input type="date" class="add-box" name='enddate' value="<%= query.enddate %>" />
                        </div>
                    </div>

                    <div class="container-married">
                        <label for="complete">Complete</label>
                        <%if(query.complete=='true' ){ %>
                            <div class="inline">
                                <select name="complete" id="complete" placeholder="-select complete-">
                                    <option disabled>-select complete-</option>
                                    <option value="true" selected>Done</option>
                                    <option value="false">Not</option>
                                </select>
                            </div>
                            <% } else if (query.complete=='false' ){ %>
                                <div class="inline">
                                    <select name="complete" id="complete" placeholder="-select complete-">
                                        <option disabled>-select complete-</option>
                                        <option value="true">Done</option>
                                        <option value="false" selected>Not Yet</option>
                                    </select>
                                </div>
                                <% } else {%>
                                    <div class="inline">
                                        <select name="complete" id="complete" placeholder="-select complete-">
                                            <option disabled selected>-select complete-</option>
                                            <option value="true">Done</option>
                                            <option value="false">Not Yet</option>
                                        </select>
                                    </div>
                                    <% } %>
                    </div>

                    <div class="container-operation">
                        <label for="operation">Operation </label>
                        <% if(query.type_search=='OR' ) { %>
                            <div class="operation-input">
                                <div class="input-radio">
                                    <input type="radio" id="OR" name="type_search" value="OR" checked= />OR
                                    <input type="radio" id="AND" name="type_search" value="AND" />AND
                                </div>
                            </div>

                            <% }else if(query.type_search=='AND' ) { %>
                                <div class="operation-input" style="display: inline-block;">
                                    <div class="input-radio">
                                        <input type="radio" id="OR" name="type_search" value="OR" />OR
                                        <input type="radio" id="AND" name="type_search" value="AND" checked>AND
                                    </div>
                                </div>

                                <% }else { %>
                                    <div class="operation-input" style="display: inline-block;">
                                        <div class="input-radio">
                                            <input type="radio" id="OR" name="type_search" value="OR" />OR
                                            <input type="radio" id="AND" name="type_search" value="AND" />AND
                                        </div>
                                    </div>
                                    <% } %>
                    </div>
                    <!-- trakhir submit mahh -->
                    <div class="button-add">
                        <button type="submit" class="btn btn-info"><i
                                class="fa-solid fa-magnifying-glass"></i></i></button>&nbsp;
                        <!-- class="add-submit"> -->
                        <a class="btn btn-warning" href="/users"><i class="fa-solid fa-arrows-rotate"></i></a>
                        <!-- add-cance -->
                    </div>
                </div>
            </form>

            <!-- search SELESAI -->
            <!-- ini table -->
            <div class="table-list">
                <table>
                    <thead>
                        <tr>
                            <th class="id">No.</th>

                            <th class="title">
                                <div class="sort-wrapper">
                                    <div class="sort">
                                        <a class="sort-button"
                                            href="<%= url.includes(`&sort=${typeSort}`) ? ('/users'+url.replace(`&sort=${typeSort}`, `&sort=title+ASC`)) : `/users/?${url.slice(2) + '&'}sort=title+ASC` %>">
                                            <i class="fa-solid fa-caret-up"></i>
                                        </a>
                                        <a class="sort-button"
                                            href="<%= url.includes(`&sort=${typeSort}`) ? ('/users'+url.replace(`&sort=${typeSort}`, `&sort=title+DESC`)) : `/users/?${url.slice(2) + '&'}sort=title+DESC` %>">
                                            <i class="fa-solid fa-caret-down"></i>
                                        </a>
                                    </div>
                                    &nbsp;Title
                                </div>
                            </th>

                            <th class="deadline">
                                <div class="sort-wrapper">
                                    <div class="sort">
                                        <a class="sort-button"
                                            href="<%= url.includes(`&sort=${typeSort}`) ? ('/users'+url.replace(`&sort=${typeSort}`, `&sort=deadline+ASC`)) : `/users/?${url.slice(2) + '&'}sort=deadline+ASC` %>">
                                            <i class="fa-solid fa-caret-up"></i>
                                        </a>
                                        <a class="sort-button"
                                            href="<%= url.includes(`&sort=${typeSort}`) ? ('/users'+url.replace(`&sort=${typeSort}`, `&sort=deadline+DESC`)) : `/users/?${url.slice(2) + '&'}sort=deadline+DESC` %>">
                                            <i class="fa-solid fa-caret-down"></i>
                                        </a>
                                    </div>
                                    &nbsp;deadline
                                </div>
                            </th>
                            <th class="complete">
                                <div class="sort-wrapper">
                                    <div class="sort">
                                        <a class="sort-button"
                                            href="<%= url.includes(`&sort=${typeSort}`) ? ('/users'+url.replace(`&sort=${typeSort}`, `&sort=complete+ASC`)) : `/users/?${url.slice(2) + '&'}sort=complete+ASC` %>">
                                            <i class="fa-solid fa-caret-up"></i>
                                        </a>
                                        <a class="sort-button"
                                            href="<%= url.includes(`&sort=${typeSort}`) ? ('/users'+url.replace(`&sort=${typeSort}`, `&sort=complete+DESC`)) : `/users/?${url.slice(2) + '&'}sort=complete+DESC` %>">
                                            <i class="fa-solid fa-caret-down"></i>
                                        </a>
                                    </div>
                                    &nbsp;Complete
                                </div>

                            </th>
                            <th class="action">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach((todos, index)=> { %>
                            <% if(todos.complete==false && moment(new Date())> todos.deadline) { %>
                                <tr>
                                    <td class="bg-danger">
                                        <%= index + offset + 1 %>
                                    </td>
                                    <td class="bg-danger">
                                        <%= todos.title %>
                                    </td>
                                    <td class="bg-danger">
                                        <%= moment(todos.deadline).format('MMMM Do YYYY, h:mm:ss a');%>
                                    </td>
                                    <td class="bg-danger">
                                        <%= todos.complete ? 'Yes' : 'No' %>
                                    </td>
                                    <td><a class="btn btn-success" href="/users/edit/<%= todos.id %>"><i
                                                class="fa-solid fa-pen" style="color: #ffffff;"></i></a>&nbsp;
                                        <a class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal"><i class="fa-solid fa-trash"
                                                style="color: #ffffff;"></i></a>
                                    </td>
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete
                                                        Confirmation
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>apakah kamu yakin menghapus data '<%= todos.title %>' ?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">No</button>
                                                    <a href="/users/delete/<%= todos.id %>" type="button"
                                                        class="btn btn-warning">Yes</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                <% } else { %>
                                    <tr>
                                        <td>
                                            <%= index + offset + 1 %>
                                        </td>
                                        <td>
                                            <%= todos.title %>
                                        </td>
                                        <td>
                                            <%= moment(todos.deadline).format('MMMM Do YYYY, h:mm:ss a');%>
                                        </td>
                                        <td>
                                            <%= todos.complete ? 'Yes' : 'No' %>
                                        </td>
                                        <td><a class="btn btn-success" href="/users/edit/<%= todos.id %>"><i
                                                    class="fa-solid fa-pen" style="color: #ffffff;"></i></a>&nbsp;
                                            <a class="btn btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal"><i class="fa-solid fa-trash"
                                                    style="color: #ffffff;"></i></a>
                                        </td>
                                        <div class="modal fade" id="exampleModal" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete
                                                            Confirmation
                                                        </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>apakah kamu yakin menghapus data '<%= todos.title %>' ?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">No</button>
                                                        <a href="/users/delete/<%= todos.id %>" type="button"
                                                            class="btn btn-warning">Yes</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    <% } %>

                                        <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="container-button">
                <a href="/users/add" class="btn btn-primary"><i class="fa-solid fa-plus"
                        style="color: #ffffff;"></i></a>
                <!-- add-list -->
                <div class="pagination">
                    <% if(page !=1) { %>
                        <a href="?page=<%= page - 1%>">&laquo;</a>
                        <% } %>
                            <% for(let i=1; i <=pages; i++){%>
                                <a class="page-link<%= (page == i) ? ' active' : '' %>" href="/users/?page=<%= i %>">
                                    <!-- pagination -->
                                    <%= i %>
                                </a>
                                <% } %>
                                    <% if(page !=pages) { %>
                                        <a class="page-link" href="/users/?page=<%= Number(page) + 1%>">&raquo;</a>
                                        <% } %>
                </div>

            </div>
        </div>

        <%- include('../partials/footer.ejs') %>